# See https://git-scm.com/docs/gitattributes for more about git attribute files.


# Mark any vendored files as having been vendored.
vendor/* linguist-vendored
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials


# Force GitHub Linguist to count Rails templates as Ruby
*.erb linguist-language=Ruby
*.html.erb linguist-language=Ruby

# Exclude assets from language stats
public/* linguist-vendored
app/assets/* linguist-vendored
vendor/* linguist-vendored